---
import Layout from "../../layouts/Layout.astro";
import Tickets from "../../components/Tikcets";
---

<Layout title="Tikcets">
  <main>
    <div class="lg:w-3/4 m-auto">
      <div>
        <h2 class="text-2xl font-extrabold">Mis Tickets</h2>
      </div>
      <Tickets client:load />
    </div>
  </main>
</Layout>
