---
import Layout from "../../layouts/Layout.astro";
import Tickets from "../../components/Tickets";
---

<Layout title="Tickets | Tech Conf">
  <main>
    <div class="lg:w-3/4 m-auto">
      <div>
        <h1 class="text-3xl font-extrabold">Mis Tickets</h1>
      </div>
      <Tickets client:load />
    </div>
  </main>
</Layout>
