---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Código de conducta | Tech Conf">
  <div class="flex justify-center">
    <main class="m-10 md:w-3/5">
      <h1>Código de conducta en la <span class="text-red-500">Tech Conf</span></h1>
      <p class="mt-10 text-justify">
        Nosotros, los organizadores de la <span class="text-red-500">Tech Conf</span>, nos 
        comprometemos a crear un espacio seguro y respetuoso para todas
        las personas que asistan. Este código de conducta establece las normas
        de comportamiento que esperamos de todos los asistentes y nos
        comprometemos a hacer cumplir estas normas durante todo el evento.
      </p>
      <h4 class="text-xl mt-10 font-extrabold">1. Respeto</h4>
      <p class="mt-5 text-justify">
        Todos los asistentes deben tratar a los demás con respeto. No se
        permitirá ningún tipo de discriminación, acoso, intimidación o violencia
        hacia otra persona en el evento. Esto incluye, pero no se limita a: la
        discriminación por motivos de género, orientación sexual, edad, raza,
        religión, discapacidad o cualquier otra característica personal.
      </p>
      <h4 class="text-lg mt-10 font-extrabold">2. Comportamiento apropiado</h4>
      <p class="mt-5 text-justify">
        Se espera que todos los asistentes se comporten de manera apropiada y
        profesional durante todo el evento. Esto incluye, pero no se limita a:
        mantener un lenguaje y comportamiento apropiados en las charlas y los
        espacios públicos, abstenerse de consumir alcohol o drogas en exceso
        durante el evento, y seguir las reglas establecidas por los
        organizadores.
      </p>
      <h4 class="text-lg mt-10 font-extrabold">3. Seguridad</h4>
      <p class="mt-5 text-justify">
        Los organizadores del evento harán todo lo posible para garantizar la
        seguridad de todos los asistentes. Se espera que los asistentes también
        tomen medidas para garantizar su propia seguridad. Esto incluye, pero no
        se limita a: mantener un comportamiento responsable durante el evento,
        informar cualquier comportamiento inapropiado o peligroso a los
        organizadores, y respetar las normas de seguridad del lugar.
      </p>
      <h4 class="text-lg mt-10 font-extrabold">4. Consecuencias</h4>
      <p class="mt-5 text-justify">
        Cualquier persona que viole este código de conducta será expulsada del
        evento y se tomarán las medidas necesarias para garantizar la seguridad
        de todos los asistentes. Si alguien experimenta o presencia cualquier
        comportamiento inapropiado, debe informar inmediatamente a los
        organizadores del evento.
      </p>
    </main>
  </div>
</Layout>
