---
import Layout from "../../layouts/Layout.astro";
import Profile from "../../components/Profile";
---

<Layout title="Profile | Tech Conf">
  <main>
    <Profile client:load />
  </main>
</Layout>
