---
import Layout from "../../layouts/Layout.astro";
import Profile from "../../components/Profile";
---

<Layout title="Profile | Tech Conf">
  <main class="h-screen">
    <Profile client:load />
  </main>
</Layout>
