<div class="h-screen flex justify-center items-center">
  <div class="md:w-3/5">
    <h2 class="sm:mt-16 md:text-7xl lg:text-8xl font-extrabold">
      Para qué hacemos esto? 🤔
    </h2>
    <p class="mt-10 md:text-xl sm:text-sm font-bold text-gray-500">
      Dar conferencias de software en Perú será una oportunidad única para
      compartir los conocimientos y experiencias en el campo de la tecnología.
      Además, el mercado de tecnología en Perú está en constante crecimiento y
      hay una gran demanda por parte de profesionales y estudiantes por aprender
      y estar al tanto de las últimas tendencias y desarrollos en el mundo de la
      tecnología.
    </p>
    <div class="text-center mt-16">
      <a
        target="_blank"
        href="https://wa.me/51967617166?text=Quiero%20ser%20parte%de%20la%20comunidad%20de%20conferencistas%20de%20Peru%20Tech%20Conference"
        class="text-lg bg-yellow-300 border-solid border-black border-2 p-3 font-bold rounded-full w-72 block mx-auto"
        >Unirme</a
      >
    </div>
  </div>
</div>
