---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Sponsors from "../components/Sponsors.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Conferencias de Software.">
  <div class="bg-rose-500 mt-20">
    <Home />
  </div>
  <div id="about" class="m-5">
    <About />
  </div>
  <div id="sponsors" class="bg-gray-800">
    <Sponsors />
  </div>
  <Footer />
</Layout>
