---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Conferencias de Software.">
	<main>
		<div>
			<h1>Conferencias de Software</h1>
			<p>
				En esta página encontrarás las conferencias de software gratis y con 
				grandes ponentes que te ayudaran a mejorar en tu camino como software developer.
			</p>
		</div>
		<div class="mt-5">
			<a href="/events" class="bg-teal-400 p-3 text-center text-white rounded-md">Ver eventos</a>
		</div>
	</main>
</Layout>
