---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home/Home.astro";
import About from "../components/About/index.astro";
import Sponsors from "../components/Sponsors";
import Footer from "../components/Footer/index.astro";
---

<Layout title="Conferencias de Software.">
  <div class="bg-rose-500 mt-20">
    <Home />
  </div>
  <div id="about" class="m-5">
    <About />
  </div>
  <div id="sponsors" class="bg-gray-100">
    <Sponsors client:visible />
  </div>
  <div class="bg-gray-800 p-5">
    <Footer />
  </div>
</Layout>
