<div class="h-screen flex justify-center items-center -mt-20">
  <div class="text-center">
    <h1 class="md:text-9xl sm:text-4xl text-white">Tech Conf</h1>
    <p class="text-white text-center text-2xl mt-10">
      Únete a nuestra comunidad y
    </p>
    <p class="text-white text-center text-2xl">
      se parte de las mejores charlas de Tech.
    </p>
    <div class="mt-10 flex justify-center">
      <a
        href="/events"
        class="bg-gray-900 text-white p-5 rounded-full shadow-md text-xl"
        >Ver eventos</a
      >
    </div>
  </div>
</div>
