---
import GithubAuth from "../GithubAuth/index";

interface Item {
  name: string;
  href: string;
  current: boolean;
}

const items: Item[] = [
  {
    name: "Home",
    href: "/",
    current: true,
  },
  {
    name: "Eventos",
    href: "/events",
    current: false,
  },
  {
    name: "Speakers",
    href: "/speakers",
    current: false,
  },
  {
    name: "Sponsors",
    href: "/#sponsors",
    current: false,
  },
  {
    name: "Mis Tickets",
    href: "/tickets",
    current: false,
  },
];
---

<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>

          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            {
              items.map((item: Item) => (
                <a
                  href={item.href}
                  class="text-white px-3 py-2 rounded-md text-xl font-medium"
                  aria-current="page"
                >
                  {item.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <GithubAuth client:load />
        </div>
      </div>
    </div>
  </div>
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      {
        items.map((item: Item) => (
          <a
            href={item.href}
            class="text-white px-3 py-2 rounded-md text-xl font-medium"
            aria-current="page"
          >
            {item.name}
          </a>
        ))
      }
    </div>
  </div>
</nav>
