---
---

<div class="h-screen flex justify-center items-center">
  <div class="md:w-3/5">
    <h1 class="md:text-8xl sm:text-xl">Para qué hacemos esto? 🤔</h1>
    <p class="mt-10 text-xl font-bold text-gray-500">
      Dar conferencias de software en Perú será una oportunidad única para
      compartir los conocimientos y experiencias en el campo de la tecnología.
      Además, el mercado de tecnología en Perú está en constante crecimiento y
      hay una gran demanda por parte de profesionales y estudiantes por aprender
      y estar al tanto de las últimas tendencias y desarrollos en el mundo de la
      tecnología. Dando conferencias, podemos ayudar a fomentar la cultura de la
      tecnología y a motivar a las personas a involucrarse en el aprendizaje y
      el desarrollo de software. Estamos emocionados de la idea de aportar a la
      comunidad tecnológica de Perú y de aprender de su rica cultura y
      conocimientos.
    </p>
  </div>
</div>
