---
---

<div class="h-screen flex flex-col justify-center items-center">
  <p class="md:text-6xl sm:text-lg text-white text-center md:w-3/5">
    Un agradecimiento especial para nuestros Sponsors
  </p>
  <a
    class="mt-10 bg-green-400 text-white p-5 rounded-full shadow-md text-xl"
    href="https://wa.me/51967617166?text=Quiero%20ser%20un%20sponsor"
    >Sé un sponsor</a
  >
</div>
