---
import Layout from "../../layouts/Layout.astro";
import Speaker from "../../components/Speaker/index.astro";
import { getDataFromTable } from "../../services/config";

const speakers = await getDataFromTable("speakers");
---

<Layout title="Speakers | Tech Conf">
  <main class="mt-10 md:w-3/5">
    <h1 class="font-bold text-5xl text-gray-800">Speakers</h1>
    <div
      class="mt-20 grid sm:grid-colos-1 md:grid-cols-2 lg:grid-cols-3 gap-28 items-center"
    >
      {
        speakers?.length > 0 &&
          speakers.map((speaker) => (
            <Speaker
              image={speaker.image}
              name={speaker.name}
              github={speaker.github ?? "no-user"}
            />
          ))
      }
    </div>
  </main>
</Layout>
