---
import github from "../../assets/github-white.svg";
import twitch from "../../assets/twitch.svg"
---

<div
  class="lg:flex sm:flex-col lg:flex-row p-5 m-5 justify-around items-center"
>
  <div>
    <p class="md:text-2xl sm:text-lg text-white text-center mb-5 lg:mb-0">
      Tech Conf - {new Date().getFullYear()}
    </p>
  </div>
  <div class="flex items-center gap-5 justify-center">
    <a
      class="bg-gray-900 text-white py-3 px-5 rounded-full shadow-md text-lg"
      href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=linderhassinger00@gmail.com&body=Quiero%20contactarme%20con%20el%20equipo%20de%20Tech%20Conf"
      target="_blank">Contáctanos</a
    >
    <a
      href="https://github.com/linder3hs/Tech-Conf"
      type="button"
      title="Codigo fuente"
      target="_blank"
      class="text-sm"
    >
      <img class="h-8 w-8 rounded-full" src={github} alt="" />
    </a>
    <a
      href="https://www.twitch.tv/linder3hs"
      type="button"
      title="Canal de twitch"
      target="_blank"
      class="text-sm"
    >
      <img class="h-8 w-8" src={twitch} alt="" />
    </a>
  </div>
</div>
