---
---

<div class="flex p-5 m-5 justify-around">
  <div>
    <p class="md:text-2xl sm:text-lg text-white">Conferencias {new Date().getFullYear()}</p>
  </div>
  <div>
    <a
      class="bg-gray-900 text-white p-5 rounded-full shadow-md text-xl"
      href="https://wa.me/51967617166?text=Quiero%20ser%20un%20sponsor"
      target="_blank">Contáctanos</a
    >
  </div>
</div>
