---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/browser.png" />
    <meta
      name="description"
      content="Únete a nuestra comunidad y se parte de las mejores charlas de Tech. Encontraras invitados de todo latinoamerica donde nos contaran sus experiencias."
    />
    <meta
      name="keywords"
      content="Tech Conf, React, JavaScript, JS, Python, conferencias, charlas, tecsup"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Spanish" />
    <meta name="author" content="Linder Hassinger" />
    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:title" content="Tech Conf" />
    <meta property="og:type" content="web" />
    <meta property="og:url" content="https://conferences-ten.vercel.app/" />
    <meta
      property="og:image"
      content="https://nvpaknjxdglnrkhahnaq.supabase.co/storage/v1/object/sign/images/logo.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvbG9nby5wbmciLCJpYXQiOjE2NzczNTk5OTIsImV4cCI6MTAwMDAwMDAwMTY3NzM2MDAwMH0.Ypmo1QtdQkwf8R0pwn_hIUozy6RClAsUp4YOOJg1uiA&t=2023-02-25T21%3A19%3A52.608Z"
    />
    <meta
      property="og:description"
      content="Únete a nuestra comunidad y se parte de las mejores charlas de Tech. Encontraras invitados de todo latinoamerica donde nos contaran sus experiencias."
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
  }

  main {
    margin: auto;
    padding: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  body {
    background: #000;
    color: #fff;
    overflow: hidden;
    background-blend-mode: screen;
  }

  .scene {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    perspective: 10vmin;
  }

  .scene div {
    width: 0.5vmin;
    height: 0.5vmin;
    transform: translateZ(-100vmin) rotateY(90deg) rotateX(var(--rx))
      translateZ(var(--x)) scaleX(1);
    position: absolute;
    top: 0%;
    left: 0%;
    animation: animate 3s 1 ease-in;
    background: #fff;
    box-shadow: 0 0 10px rgb(10, 239, 255);
  }

  @keyframes animate {
    0%,
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateZ(0vmin) rotateY(90deg) rotateX(var(--rx))
        translateZ(var(--x)) scaleX(6);
    }
  }
</style>
<script is:raw>
  const scene = document.querySelector(".scene");

  const createDiv = () => {
    for (let i = 0; i < 300; i++) {
      scene.innerHTML += "<div></div>";
    }
  };

  createDiv();

  const stars = document.querySelectorAll("div");

  stars.forEach((star) => {
    const x = `${Math.random() * 600}vmax`;
    const y = `${Math.random() * 100}vh`;
    const z = `${Math.random() * 200}vmin`;
    const rx = `${Math.random() * 360}deg`;

    star.style.setProperty("--x", x);
    star.style.setProperty("--y", y);
    star.style.setProperty("--z", z);
    star.style.setProperty("--rx", rx);

    const delay = `${Math.random() * 3}s`;

    star.style.animationDelay = delay;
  });
</script>
