---
import EventFrame from "../../layouts/EventFrame.astro";
import { getDataFromTable } from "../../services/config";
import type { IEvent } from "../../interfaces/tickets";

export async function getStaticPaths() {
  const events = await getDataFromTable("events");

  return events.map((event: IEvent) => ({
    params: { id: event.id },
  }));
}

const { id } = Astro.params;

const [event] = await getDataFromTable("events", {
  key: "id",
  value: Number(id),
});
---

<EventFrame title={`${event.title} | Tech Conf`}>
  <main class="scene">
    <h1>â­ï¸ {event.title}</h1>
  </main>
</EventFrame>
