---
import Layout from "../../layouts/Layout.astro";
import { getDataFromTable } from "../../services/config";
import type { IEvent } from "../../interfaces/tickets";

export async function getStaticPaths() {
  const events = await getDataFromTable("events");

  return events.map((event: IEvent) => ({
    params: { id: event.id },
  }));
}

const { id } = Astro.params;

const [event] = await getDataFromTable("events", {
  key: "id",
  value: Number(id),
});
---

<Layout title={`${event.title} | Tech Conf`}>
  <main class="h-screen">
    <h1>â­ï¸ {event.title}</h1>
  </main>
</Layout>
